:root {
    --color-212529: #212529;
    --color-ffd333: #ffd333;
    --color-47ad24: #47ad24;
    --color-e52e2e: #e52e2e;
    --color-828599: #828599;
    --color-3d464d: #ed464d;
    --color-c3d4da: #ced4da;
  }
  
  .green {
    color: var(--color-47ad24);
    font-size: 14px;
    font-family: Roboto !important;
  }
  .red {
    color: var(--color-212529);
    font-size: 14px;
    font-family: Roboto !important;
  }
  .quill {
    background-color: white;
  }
  
  .form-control {
    box-shadow: none;
    border-color: var(--color-c3d4da);
  }
  .title {
    font: 28px;
    font-family: Roboto !important;
    color: var(--color-212529);
  }
  
  .sub-title {
    font: 24px;
    font-family: Roboto !important;
    color: var(--color-212529);
  }
  .desc {
    font: 14px;
    font-family: Roboto !important;
    color: var(--color-828599);
  }


  /* add product css*/
/* .container{
    margin: 0px;
    padding-top: 60px;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
    width: 100%;
} */

.container {
  margin-top: 60px; /* Adjust margin-top as needed */
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example box shadow */
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.text-right button:first-child {
  margin-right: 10px;
}

.form-group{
 
  /* margin: 2rem; */
  margin-bottom: 1rem;
}

.image-group{
 text-align: center;
 margin: 1rem;
 font-weight: bold;
 font-size: 1rem;
}

.product-image-preview{
  text-align: center;
  margin: 1rem;
}

.product-image-preview img{
  text-align: center;
  margin: 1rem;
  max-height: 240px;
  max-width: 205px;
}